@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
}
.not-found,
.error {
  margin-top: 5rem;
  text-align: center;
}
.not-found h1,
.error h1 {
  font-size: 5rem;
  margin: 0px;
  font-weight: 900;
  color: #262626;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}
.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ddd8d8;
}
.Links {
  text-align: center;
  color: black;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}
